---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <h1>Contact Us</h1>
    <h2>Begin Your Packaging Journey with Tóki</h2>
    <img
      class="contact-img"
      src="/assets/contactus.webp"
      alt="an image of a cardboard box with let's create together written inside"
    />
    <p>Every packaging story starts with a conversation.</p>
    <p>
      Tell us a bit about your product, your goals, and where you are in your
      packaging journey — we’ll tailor our approach to fit your needs. Whether
      you’re looking for a full-scale solution or just one of our five Toki Flow
      phases, we’re here to help you take the next step.
    </p>
    <p>
      Fill out the following form and we will get back to you within 2 workdays.
    </p>
    <form>
      <div class="from-qu">
        <label for="name" class="required"> Name (required) </label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="from-qu">
        <label for="company"> Company Name </label>
        <input type="text" id="company" name="company" />
      </div>

      <div class="from-qu">
        <label for="contact" class="required"> Email (required)</label>
        <input type="text" id="contact" name="contact" required />
      </div>

      <div class="from-qu">
        <label for="product">
          Which product(s) do you need packaging for?
        </label>
        <input type="text" id="product" name="product " />
      </div>

      <div class="from-qu">
        <label> = Which Toki Flow phases are you interested in? </label>
        <div class="checkbox-group">
          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Vision"
            />
          </label>

          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Insight"
            />
          </label>
          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Identity"
            />
          </label>
          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Strategy"
            />
          </label>
          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Solution"
            />
          </label>
          <label
            ><input
              class="button-form"
              type="button"
              name="phase"
              value="Unsure"
            />
          </label>
        </div>

        <div class="form-group">
          <label for="goals"
            >Tell us a bit more about your project or goals</label
          >
          <textarea id="goals" name="goals" rows="5"></textarea>
        </div>

        <button type="submit">Submit</button>
      </div>

      label
    </form>
  </main>

  <style>
    h1 {
      padding-top: 11rem;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    * {
      margin-left: 1rem;
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    form {
      background-color: #a9d0c1;
    }
    .contact-img {
      max-height: 20rem;
      width: 25rem;
      display: flex;
      margin: auto;
    }

    .button-form {
      background-color: #311407;
      color: #f4eeeb;
      border-radius: 0.3rem;
      padding: 0.7rem;
      font-family: Nunito Sans;
    }
  </style></Layout
>
