---
const { company } = Astro.props;
import ReadCases from "../components/ReadCases.astro";
import Readsingleview from "../components/Readsingleview.astro";
---

<article>
  <img src=`https://qeoxxkgbtrpnlhjhgkqx.supabase.co/storage/v1/object/public/imgcases/${company.image}` alt="case image" />
  <p class="c-name">{company.companyname}</p>

  <p>{company.description}</p>
  <br>
  <p>Purchased</p>
  <ul>
    {company.buycategory.map(cat => {
      return <li>{cat}</li>
    })}
  </ul>
 
  <Readsingleview />
</article>
<style>
  article:not(:last-child) {
    margin-bottom: 2rem;
  }
 
  h4 {text-align: center;}

ul{
padding:  0;
}
@media (min-width: 768px) {
  ul {
    padding-top: 0.4rem;
    padding-bottom: 1rem;
   decoration: none;
   font-size: 1.1rem;
  }
  li {
    text-decoration: none;
    list-style-type: none;
  }
}
@media (min-width: 768px) {
img {
margin: 1.2rem 0;
}}
.c-name{ font-size: 1rem;
margin-left: 1.5rem;
margin-bottom:0.3rem ;
font-weight: lighter;}
</style>  