<a href="/" class="cta">&lt;-- Return</a>
<style>
  .cta {
    background-color: #311407;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 8px;
    transition: background-color 0.25s ease;
  }

  .cta:hover {
    background-color: #a9d0c1;
    color: #151514;
  }

  /* --- MOBILE VERSION --- */
  @media (max-width: 768px) {
    .cta {
      padding: 15px 25px;
      font-size: 18px;
    }

    .cta:hover {
      background-color: #a9d0c1;
      color: #151514;
    }
  }
</style>
