@font-face {
  font-family: Nunito;
  src: url("fonts/Nunito");
}
body {
  background-color: #fff8f1;
  font-family: Nunito Sans, sans-serif;
  line-height: 1.6rem;
}
p {
  color: #311407;
}

h1 {
  font-size: 64px;
  color: #3a544a;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 26px;
}
p {
  font-size: 18px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
