---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";

import "../css/reset.css";
import "../css/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tóki</title>
  </head>

  <body>
    <Header />
    <slot />

    <Footer />
  </body>
</html>
